a {
    color: green;
  }

#bio {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 425px;
}

#content {
    background: white;
    text-align: left;
    color: black;
    width: 300px;
    height: 425px;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: center;
  
  padding: 3px;
  margin: 1px;
  list-style-type: none; /* Remove bullets */
}

.flex-item {
  background: tomato;
  padding: 10px;
  margin: 3px;
  color: white;
  font-weight: bold;
}

